@tailwind base;
@tailwind components;
@tailwind utilities;

/* Sembunyikan scrollbar di seluruh halaman */

@font-face {
    font-family: 'BoxedRound';
    src: url('./assets/font/BoxedRound.ttf') format('truetype');
    font-weight: normal; /* Sesuaikan jika ada variasi */
    font-style: normal;  /* Sesuaikan jika ada variasi */
}
  